<template name="layout">
  <style type="text/css">
    body {
      width: 100%;
      height: 100%;
      box-sizing: border-box;
      top: 0px;
      left: 0px;
    }
  </style>
  <style type="text/css">
    #core_drawer_panel {
      position: absolute;
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
      width: 100%;
      height: 100%;
    }

    #core_toolbar {
      color: rgb(255, 255, 255);
      background-color: rgb(79, 125, 201);
    }

    #core_toolbar_sidebar {
      color: rgb(255, 255, 255);
      background-color: rgb(79, 125, 201);
    }

    #section {
      box-shadow: rgba(0, 0, 0, 0.0980392) 0px 2px 4px, rgba(0, 0, 0, 0.0980392) 0px 0px 3px;
      background-color: rgb(250, 250, 250);
    }

    .side_menu_item:hover {}

    #core_header_panel {
      background-color: rgb(249, 249, 249);
      height: 100%;
    }

    #section_content {
      background-color: rgb(249, 249, 249);
    }
  </style>
  <core-drawer-panel transition selected="main" id="core_drawer_panel" touch-action>
    <section id="section" drawer>
      {{> side_menu}}
    </section>
    <core-header-panel mode="standard" id="core_header_panel" main>
      <core-toolbar id="core_toolbar">
        <core-icon-button icon="arrow-back" id="core_icon_button"></core-icon-button>
        <div id="div">Page Heading</div>
      </core-toolbar>
      <section vertical layout center id="section_content">
        {{> yield}}
      </section>
    </core-header-panel>
  </core-drawer-panel>
</template>
<!-- ======== side_menu ========= -->
<template name="side_menu">
  <core-toolbar id="core_toolbar_sidebar">
    <div id="div1" flex>Product Name</div>
  </core-toolbar>
  <core-item id="core_item_upload" class="side_menu_item core-selected" icon="cloud-upload" label="Upload" horizontal center layout></core-item>
  <core-item id="core_item_home" class="side_menu_item" icon="home" label="Home" horizontal center layout></core-item>
  <core-item id="core_item_settings" class="side_menu_item" icon="settings" label="Settings" horizontal center layout></core-item>
</template>
